.button {
  padding: 10px 15px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  outline: none;

  &--primary {
    background: $primary;
  }

  &--secondary {
    background: $secondary;
  }
}
