
.navigation {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-top: 60px;

  a {
    margin: 0 10px;
    color: #4a4a4a;
    font-size: 18px;
  }
}
