@font-face {
  font-family: robotobold;
  src: url(/fonts/roboto-bold-webfont.eot?v=2);
  src:
    url(/fonts/roboto-bold-webfont.eot?#iefix) format("embedded-opentype"),
    url(/fonts/roboto-bold-webfont.woff) format("woff"),
    url(/fonts/roboto-bold-webfont.ttf) format("truetype"),
    url(/fonts/roboto-bold-webfont.svg#robotobold) format("svg");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: 'robotobold, Open Sans,Arial,sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4a4a;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}
